/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (min-width: 1024px) and (max-width: 1440px) {
    #hebergements {
        width: 60%;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }

    .hebergements-cards .card {
        height: 227px;
    }

    .populaires {
        width: 30%;
    }

    .card-activites {
        grid-template-columns: 1fr;
    }

}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-flexbox {
        flex-direction: column;
    }

    .filters-bar h3 {
        width: 100%;        
    }

    .nav-header a:active {
    color: #0065FC;
    }

    #hebergements {
        width: 100%;
    } 

    img {
        max-width: 100%;
        height: auto;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activites .card img {
        min-height: 294px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .nav-header {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding-bottom: 2rem;
    }

    .nav-header a:hover {
    border-top: none;
    border-bottom: solid #0065FC 2px;
    }

    .text {
        display: none;
    }

    .icon {
        display: inline;
    }

    .filters-bar {
        display: block;
    }

    .filters-bar h3 {
        padding-bottom: 1rem;
    }

    .filter-box {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 1rem;
    }

    main {
        margin: 0;
    }

    .search {
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-flexbox {
        flex-direction: column-reverse;
    }

    .main-flexbox section {
        border-radius: 0;
    }

    .populaires {
        background-color: #F2F2F2;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
    }

    .populaires-cards {
        grid-template-columns: repeat(1, 3fr);
    }

    #activites {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card-activites {
        grid-template-columns: repeat(1, 4fr);
    }

    .card-activites img {
        max-height: 200px ;
    }
}