/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (max-width: 1440px) {

    header {
        margin-inline: 50px;
    }

    main {
        margin-inline: 50px;
    }

    footer {
        margin-inline: 50px;
    }
}

@media (max-width: 1270px) {
    .main-flexbox {
        display: block;
    }

    #hebergements {
        width: 100%;
        margin-bottom: 50px;
    }

    #populaires {
        width: 100%;
    }

    .populaires-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .activites-box {
        grid-template-rows: 380px;
    }

    .activites-box img {
        height: 313px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header {
        margin-inline: 4.9%;
    }

    main {
        margin-inline: 4.9%;
    }

    footer {
        margin-inline: 4.9%;
    }

    .filters-bar h2 {
        width: 100%;
        padding-bottom: 5px;       
    }

    .nav-header a:active {
        color: #0065FC;
    }

    .main-flexbox {
        flex-direction: column;
    }

    .hebergements-box img {
        max-width: 267px;
    }

    .populaires-box {
        gap: 20px
    }

    .populaires-box .card {
        width: 100%;
        box-sizing: border-box;
    }

    .populaires-box .card img {
        box-sizing: border-box;
    }

    .populaires-box .card-title {
        font-size: 14px;
    }

    .populaires-box .card-subtitle {
        font-size: 13px;
    }

    .activites-box {
        grid-template-rows: 270px;
    }

    .activites-box a {
        max-width: 193.5px;
        max-height: 270px;
    }

    .activites-box img {
        max-height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        margin: 0;
    }

    header .logo {
        display: block;
        margin: 0 auto;
        padding: 30px;
    }

    .nav-header {
        margin: 0;
        gap: 0;
        text-align: center;
    }

    .nav-header a {
        width: 50vw;
        padding-bottom: 15px;
    }

    .nav-header a:hover {
        border-top: none;
        border-bottom: solid #0065FC 2px;
    }

    #search h1 {
        padding-bottom: 8px;
    }

    .search-btn {
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar div {
        border: none;
    }

    .text {
        display: none;
    }

    .icon-search {
        display: inline;
    }

    .icon-search i {
        color: white;
        width: 15px;
    }

    .filters-bar {
        display: block;
    }

    .filters-bar h2 {
        padding-bottom: 1rem;
    }

    .filter-box {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 1rem;
    } 

    main {
        margin: 0;
    }

    #search {
        margin-inline: 3.3%;
    }

    .search-bar {
        grid-template-columns: 50px 235px 50px;
        width: 91%;
        max-width: 335px;
        border: solid #F2F2F2 1px;
        border-radius: 15px;
        padding: 0;
    }

    #search-town {
        border: none;
    }

    .main-flexbox {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-flexbox section {
        padding-inline: 0;
        border-radius: 0;
    }

    #hebergements {
        background-color: white;
        margin-bottom: 0;
        padding-inline: 6.6%;
    }

    .hebergements-box {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        justify-items: center;
        margin: 0 auto;
    }

    .hebergements-box .card {
        max-width: 100%;
    }

    .hebergements-box img {
        height: 150px;
        max-width: 100%;
    }

    .more {
        padding-block: 15px;
        padding-inline: 6.6%;
    }

    #populaires {
        background-color: #F2F2F2;
        padding-inline: 6.6%;
    }

    .populaires-title {
        margin-right: 30px;
    }

    .populaires-box {
        grid-template-columns: repeat(1, 3fr);
        place-items: center;
        margin: 0 auto;
    }

    #activites {
        padding-inline: 6.6%;
        margin: 0;
    }

    .activites-box {
        grid-template-columns: repeat(1, 4fr);
        justify-items: center;
        margin: 0 auto;
    }

    .activites-box .card {
        max-width: 758px;
        max-height: 270px;
    
    }

    .activites-box img {
        max-height: 200px ;
    }  
}

@media (max-width: 580px) {

    footer {
        grid-template-columns: repeat(1,3fr);
        justify-content: center;
        padding-inline: 3.5rem;
        gap: 50px;
        margin-inline: 0%;
    }

    ul {
        padding: 0;
    }
}

@media (max-width: 375px) {

    .search-bar {
        margin-inline: 3.3%;
        grid-template-columns: 16% 73.4% 16%;
    }

    .icon-bar {
        padding-inline: 2.1rem;
    }

    .icon-search i {
        width: 1rem;
    }

    .filters-bar {
        padding-inline: 3.3%;
    }

    .filters-button {
        font-size: 1rem;
        padding: 10px;
    }

    .main-flexbox section {
        padding-inline: 20px;
    }

    .section-title {
        padding-bottom: 15px;
    }

    .hebergements-box .card {
        max-height: 207.25px;
    }

    .hebergements-box img {
        height: 124px;
    }

    #activites {
        margin-bottom: 30px;
        padding-inline: 20px;
    }

    .activites-box {
        grid-template-rows: 200px;
        padding: 0;
        gap: 15px;
    }

    .activites-box .card {
        max-height: 200px;
    }

    .activites-box img {
        max-height: 141px;
    }
}