/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (min-width: 1024px) and (max-width: 1439px) {

    header {
        margin-inline: 50px;
    }

    main {
        margin-inline: 50px;
    }

    footer {
        margin-inline: 50px;
    }

    

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }

    #hebergements .card-subtitle {
        padding-bottom: 8px;
    }

    .card-activites .card {
        max-height: 270px;
    }

    .card-activites .card img {
        height: 200px;
    }
}

@media (max-width: 1270px) {
    .main-flexbox {
        display: block;
    }

    #hebergements {
        width: 100%;
        margin-bottom: 50px;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023px) {

     header {
        margin-inline: 4.9%;
    }

    main {
        margin-inline: 4.9%;
    }

    footer {
        margin-inline: 4.9%;
    }

    .main-flexbox {
        flex-direction: column;
    }

    .filters-bar h3 {
        width: 100%;        
    }

    .nav-header a:active {
    color: #0065FC;
    }

    #hebergements {
        width: 100%;
    } 

    img {
        max-width: 100%;
        height: auto;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activites a {
        max-height: 270px;
    }

    .card-activites .card {
        max-height: 270px;
    }

    .card-activites .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 838px) {
    
    header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .nav-header {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding-bottom: 2rem;
    }

    .nav-header a:hover {
    border-top: none;
    border-bottom: solid #0065FC 2px;
    }

    .search h2 {
        text-align: center;
        padding-bottom: 8px;
    }

    .search p {
        text-align: center;
    }

    .search-btn {
        border-radius: 15px;
    }

    .search-bar div {
        border: none;
    }

    .text {
        display: none;
    }

    .icon {
        display: inline;
    }

    .icon i {
        color: white;
        width: 15px;
    }

    .filters-bar {
        display: block;
    }

    .filters-bar h3 {
        padding-bottom: 1rem;
    }

    .filter-box {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 1rem;
    }

    main {
        margin: 0;
    }

    .search {
        margin-left: 15px;
        margin-right: 15px;
    }

    .search-bar {
        grid-template-columns: 50px 235px 50px;
        width: 91%;
        max-width: 335px;
        margin: 0 auto;
        border: solid #F2F2F2 1px;
        border-radius: 15px;
        padding: 0;
    }

    #search-town {
        border: none;
    }

    .main-flexbox {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-flexbox section {
        border-radius: 0;
    }

    .populaires {
        background-color: #F2F2F2;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
    }

    .hebergements-cards a {
        width: 90%;
    }

    .populaires-cards {
        grid-template-columns: repeat(1, 3fr);
    }

    #activites {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card-activites {
        grid-template-columns: repeat(1, 4fr);
    }

    .card-activites img {
        max-height: 200px ;
    }
}