/****** General ***********/
* {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 60px;
    margin: 30px 50px;
}

.lien-header {
    display: flex;
    list-style: none;
    gap: 68px;
    padding-bottom: 20px;
    margin: 0px 50px;
}

.lien-header a:hover {
    border-top: solid #0065FC 2px; /* !!! attention la bordure doit s'afficher en dessous sur version tablette et mobile !!! */
    color: #0065FC;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

.sous-titre {
    margin-top: 25px;
    margin-bottom: 25px;
}
.sous-titre h2 {
    margin-bottom: 8px;
    font-size: 22px;
}

.sous-titre p {
    font-size: 16px;
}

.barre-recherche {
    display: flex;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.barre-recherche div {
    padding: 15px;
    border: solid #F2F2F2 1px;
}

.barre-recherche i {
    color: black;
    background-color: #F2F2F2;
}

.icon-barre {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.text-barre {
    font-size: 18px;
    border: none;
}

.btn-recherche {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.barre-recherche button {
    color: white;
    font-size: 18px;
    background-color: #0065FC;
    border: none;
    font-weight: 700;
}

.filtres-barre {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.filtres-barre button {
    border-radius: 25px;
    padding: 15px;
    border: solid #D9D9D9 2px;
    background-color: white;
    font-size: 17px;
}

.filtres-barre button:hover {
    background-color: #DEEBFF;
}

.filtres-barre i {
    color: #0065FC;
    padding-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.info i {
    display: flex;
    font-size: 10px;
    justify-content: center;
    color: #0065FC;
    border: solid #D9D9D9 1px;
    border-radius: 50px;
    padding: 6px 9px;
}

.hebergements {
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    
}

.hebergements h2 {
    padding: 0px 0px 30px 30px;
    font-size: 26px;
}

.hebergements > h3 {
    font-size: 18px;
}

.hebergements-cards {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.hebergements-cards .card {
    width: 280px;
    height: 220px;
}

.hebergements .card img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content h3 {
    font-size: 16px;
    padding-bottom: 8px;
}

.hebergements-cards .card-content p {
    font-size: 14px;
    padding-bottom: 8px;
}

.populaires {
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 30px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}