/****** General ***********/
* {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 60px;
    margin: 30px 50px;
}

.nav-header {
    display: flex;
    gap: 68px;
    margin: 0px 50px;
}

.nav-header a:hover {
    border-top: solid #0065FC 2px;
    color: #0065FC;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

.search-title {
    margin-top: 35px;
    margin-bottom: 35px;
}

.search-title h2 {
    margin-bottom: 8px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-bar div {
    padding: 15px;
    border: solid #F2F2F2 1px;
}

.search-bar i {
    color: black;
}

.icon-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

#search-town {
    font-size: 18px;
    border: solid #F2F2F2 1px;
    text-align: center;
    appearance: none; /* doit etre rajouter pour toucher plus de navigateurs*/
    -webkit-appearance: none; /* code permettant de faire disparaitre l'apparence native de certain éléments */
}

.search-btn {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search-bar button {
    color: white;
    font-size: 18px;
    background-color: #0065FC;
    border: none;
    font-weight: 700;
}

.filters-bar {
    display: flex;
    flex-wrap: wrap; /* pour que tous les filtres apparaissent sur petits écrans */
    align-items: center;
    gap: 15px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.filters-button {
    border-radius: 25px;
    padding: 15px;
    border: solid #D9D9D9 2px;
    background-color: white;
    font-size: 17px;
}

.filters-bar button:hover {
    background-color: #DEEBFF;
}

.filters-bar i {
    padding-right: 10px;
}

.filters-bar h3 {
    font-size: 17px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.info i {
    font-size: 10px;
    border: solid #D9D9D9 1px;
    border-radius: 50px;
    padding: 6px 9px;
}

.info p {
    font-size: 16px;
}

#activites {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#activites h2 {
    padding-left: 30px;
}

.card-activites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.card-activites .card {
    width: 100%;
    max-width: 300px;
    max-height: 439px;
    border: solid #D9D9D9 1px;
    padding: 0;

}

.card-activites .card img {
    max-height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activites .card h3 {
    padding: 10px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 16px;
    padding-bottom: 8px;
}

.card-subtitle {
    font-size: 14px;
    margin-bottom: 8px;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 15px;
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

footer {
    margin: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 400px;
    background-color: #F2F2F2;
    border: none;
}

footer li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    padding-bottom: 15px;
}

footer h3 {
    padding-bottom: 15px;
    font-size: 18px;
}
/****** Hebergements And Populaires ***********/

.main-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.main-flexbox section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    padding-bottom: 30px;
}


/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.hebergements-cards {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
}

#hebergements .card img {
    display: block;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.populaires-cards a {
    flex-wrap: wrap;
    flex: 1 1 90%;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 60%;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (min-width: 1024px)(max-width: 1440px) {
    #hebergements {
        width: 60%;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
    
    .populaires {
        width: 30%;
    }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-flexbox {
        flex-direction: column;
    }

    .filters-bar h3 {
        width: 100%;        
    }

    .nav-header a:active {
    color: #0065FC;
}

    #hebergements {
        width: 100%;
    } 

    img {
        max-width: 100%;
        height: auto;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .populaires-cards .card {


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .nav-header a:hover {
    border-top: none;
    border-bottom: solid #0065FC 2px;
}
    .populaires-cards {
        grid-template-columns: repeat(1, 3fr);
    }

}

